<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
    <style>
        table {
            width: 50%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 5px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        a {
            margin: 0 5px;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>
<body>
    <h1>Student List</h1>
    <a href="/students/add">Add New Student</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Grade</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% students.forEach(student => { %>
                <tr>
                    <td><%= student.name %></td>
                    <td><%= student.age %></td>
                    <td><%= student.grade %></td>
                    <td>
                        <a href="/students/edit/<%= student._id %>">Edit</a>
                        <a href="/students/delete/<%= student._id %>">Delete</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>
